page-home {

    * {
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }

    .btn-speak {
        height: auto; 
        background: transparent;
        position: absolute;
        bottom: 0;
        right: 0;

    }
}
